body {
  background-color: skyblue;
}

header {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.portfolio img {
  width: 200px;
  height: auto;
  margin: 20px;
  border-radius: 32px;
}
